:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f4266;
  --grey: #2e2f42b2;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white);
  color: var(--navy-blue);
  font-family: "Roboto", "Times New Roman", sans-serif;
  letter-spacing: 0.32px;
  line-height: 1.5;
}

header {
  border-bottom: 1px solid var(--cornflower);
  color: var(--navy-blue);
  height: 72px;
  width: 100%;
}

header,
nav,
nav ul,
address ul {
  align-items: center;
  display: flex;
}

a {
  color: var(--navy-blue);
  text-decoration: none;
}

a .accent {
  color: var(--iris);
}

address a {
  color: var(slate);
  font-style: normal;
}

a:focus,
a:hover,
footer a:focus,
footer a:hover {
  color: var(--iris);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.54px;
  line-height: 1.17;
  padding: 0 56px 0 156px;
  text-transform: uppercase;
}

nav {
  font-weight: 500;
}

li {
  list-style-type: none;
}

header li {
  padding: 0 20px;
}

address {
  padding: 0 136px 0 292px;
}

address,
p {
  color: var(--slate);
}

.starting-section {
  align-items: center;
  background-color: var(--navy-blue);
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  justify-content: center;
}

.starting-section > div {
  width: 496px;
}

.starting-section > div > div {
  display: flex;
  justify-content: center;
  padding-top: 48px;
}

h1 {
  font-size: 56px;
  letter-spacing: 1.12px;
  line-height: 1.07;
  text-align: center;
  width: 496px;
}

button {
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  color: var(--white);
  cursor: pointer;
  font-family: "Roboto", "Times New Roman", sans-serif;
  font-weight: 500;
  letter-spacing: 0.64px;
  line-height: 1.5;
  padding: 16px 32px;
}

.traits-section {
  padding: 120px 132px;
}

h2 {
  color: var(--navy-blue);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.72px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.traits-section h2 {
  display: none;
}

.traits-section ul {
  display: flex;
}

.traits-section li {
  padding: 0 12px;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 1.2;
  padding-bottom: 8px;
}

.work-section ul {
  display: flex;
  justify-content: center;
  padding: 72px 144px 120px;
}

.work-section li {
  padding: 0 12px;
}

.team-section {
  background-color: var(--cloud);
  padding: 120px 144px;
}

.team-section h2 {
  padding-bottom: 72px;
}

.team-section ul {
  display: flex;
  justify-content: center;
}

.team-section li {
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  margin: 0 12px;
}

.team-section div {
  padding: 32px 0;
  text-align: center;
}

footer {
  background-color: var(--navy-blue);
  padding: 101.5px 0 100px 0;
}

footer .logo {
  color: var(--cloud);
  padding: 0 0 17.5px 156px;
}

footer p {
  color: var(--cloud);
  width: 264px;
  padding: 17.5px 0 0 156px;
}

.buttons-section ul {
  display: flex;
  justify-content: center;
  padding: 96px 0 72px 0;
}

.buttons-section li {
  padding: 0 12px;
}

.buttons-section button {
  background-color: var(--cloud);
  border: 1px solid var(--cornflower);
  color: var(--iris);
}

.buttons-section button:hover,
.buttons-section button:hover {
  background-color: var(--ocean);
  border-color: var(--ocean);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  color: var(--white);
}

.portfolio-images-section ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 96px;
}

.portfolio-images-section li {
  border: 1px solid var(--cornflower);
  margin: 24px 12px;
}

.portfolio-images-section div {
  padding: 32px 16px;
}